<h2>House  Overview</h2>
<h5>""""ENTER RANDOM QUOTES""""</h5>
<p>
  <%= link_to "Create New House", new_house_path %>
</p>
<div class="index">

  <% @houses.each do |h| %>
    <div class="house-index">
      <h3><a href="/houses/<%= h.id %>"><%= h.name %></a></h3>
      <img src="<%= h.banner_img %>"/>
    </div>
  <% end %>

</div>
