/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
 font-family: "thrones";
 src: font-url('game_of_thrones.ttf') format("truetype");
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 90%;
  height: 100%;
  background-color: #000708;
  background-image: url("https://www.transparenttextures.com/patterns/snow.png");
  color: rgba(255, 255, 255, 0.5);
  display: inline-flex;
  flex-direction: column;
  font-family: "thrones";
  align-items: center;
}

nav {
  padding: 0 20px 0 20px;
  background-color: rgba(200, 200, 200, .8);
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 10px 0;
}

h1 {
  color: black;
  font-size: 26px;
}

.alert { color: red; }

.notice { color: green; }

.flash {
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
}

h2 { padding: 20px 0 0 0; }

h5 { padding: 0 0 20px 0; }

h2, h5 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.index {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
}

.house-index {
  margin: .5%;
  width: 20%;
  height: 20%;
}

.house-show {
  display: inline-flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}

p, a {
  color: white;
}

p {
  font-size: 10px;
}

footer {
  margin: 5px;
  padding: 20px 0 0 0;
  border-top: 2px solid white;
  width: 100%;
}

footer a {
  border: 2px solid transparent;
  text-decoration: none;
  color: #393C3E;
  text-transform: uppercase;
  padding: 7px 0 2px 0;
}

footer a:hover {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  color: #64686B;
  border-radius: 50%;
  transition: color 2s linear .5s, border-radius 2s linear .5s;
}
